@import 'colour-palette.css';

.contacts-display {
  display: flex;
  flex-direction: column;
  opacity: 0;
}

.contact-email {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-family: 'SF Mono Regular';
  font-size: 13px;
  letter-spacing: 1.5px;
  position: fixed;
  bottom: 130px;
  right: 48px;
  color: var(--text-blue);
}

.contact-email:hover {
  color: var(--bright-blue) !important;
  transform: translateY(-5px);
  transition: all .2s ease-in-out;
  text-decoration: none;
}

.contact-links {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  color: var(--text-blue);
  position: fixed;
  bottom: 130px;
  left: 50px;
}

.contact-links>* {
  margin: 15px 0px;
}

.right-bar {
  background-color: var(--text-blue);
  width: 1px;
  height: 100px;
  right: 60px;
  bottom: 0;
  position: fixed;
}

.left-bar {
  background-color: var(--text-blue);
  width: 1px;
  height: 100px;
  left: 60px;
  bottom: 0;
  position: fixed;
}

.fa-brands {
  color: var(--text-blue) !important;
  text-decoration: none !important;
  transition: all .2s ease-in-out;
}

.fa-brands:hover {
  color: var(--bright-blue) !important;
  transform: translateY(-5px);
}

@media (max-width:850px) {
  .contacts-display {
    display: none;
  }
}