.nav-wrapper {
  height: 90px;
  width: 100vw;
  display: flex;
  top: 0;
  justify-content: center;
  align-items: center;
  z-index: 10;
  font-family: 'SF Mono Light';
  background-color: #1c1d1e70;
  transition: top 0.3s;
  position: fixed;
  backdrop-filter: blur(15px);
}

.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 0px 50px;
  width: 100%;
  margin-top: 12px;
}

.menu-container a {
  color: var(--text-blue);
  text-decoration: none;

}

.menu-container a:hover {
  color: var(--bright-blue);
}

.menu-item {
  padding: 15px;
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity .6s ease, transform .6s ease;
}

.menu-number {
  color: var(--bright-blue);
  font-size: 12px;
  padding-right: 4px;
}

.home {
  opacity: 0;
}

.menu-container {
  display: flex;
  font-size: 14px;
  flex-direction: row;
}


.menu-item::before {
  margin-right: 4px;
}

.resume {
  margin-left: 20px;
  margin-top: 0px;
}

#resume-nav {
  transform: translateY(-30px);
  opacity: 0;
  transition: all 1s ease;
}

.nav-shadow {
  box-shadow: 0px 10px 20px #0e0f0f6c;
  transition: box-shadow 0.25s ease-in, box-shadow 0.25s ease-out;
}

.nav-colour-slide {
  height: 40px;
  color: white;
  position: relative;
  overflow: hidden;
  background: linear-gradient(to right, white 50%, var(--bright-blue), var(--bright-blue) 50%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 0%;
  transition: background-position 750ms ease;
}

.nav-colour-slide:hover {
  background-position: 100% 0;
}